apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-neuroquant
  labels:
    app: neuroquant
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: neuroquant
  template:
    metadata:
      labels:
        app: neuroquant
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}